// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
    height: 100%;
}

 .main  {
    //background: rgb(23,35,46);
    height:100vh;
    overflow-y:hidden;
}

.editor_container {
    background: #eef5fa;
    background: rgb(23,35,46);
    background: rgb(23,35,46);
    width: 100%;
    height: 82vh;
}

.mynav {
    height: 20vh;
    border-bottom: solid black;
}

#editorjs-iframe {
    // background: green;
    width: 836px;
    height:90%;
    display: inline-block;
    border-radius: 10px;
    overflow-y: scroll;
    // overflow-x: hidden;
    text-align: left;

}

.editor_title_bar {
    // background: rgb(44,59,72);
    // background: #292b2c;
    width: 100%;
    color: white;
    //padding: 5px 40px 20px 40px;
    border-bottom: solid black;
    // border-top: solid black;
    border-width: 1px;
    height: auto;
    display:block;
    overflow:auto;
}

#editorjs {

    width:100%;
    display: inline-block;
    border-radius: 10px;
    // overflow-y:scroll;
    margin-top:20px;
    text-align: left;

}

.mybutton {
    float: right;
    margin: 10px;
}

.editor_parent {
    text-align: center;
    overflow-y:hidden;
    height:100%;
}