// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup-container {
    text-align: center;
}

.signup-form-container {
    margin: auto;
    width:50%;
    text-align: left;
}

.signup-form-container input {
    width: 100%;
}